body {
    background: #D8C3A5;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
}

.input-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid #E85A4f;
}

.cv-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    /* padding-top: 3em;
    padding-bottom: 3em; */
}