/* .container {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: 500px 500px;
    column-gap: 100px;

}

.container > div {
 border: 1px solid blue;
} */

body {
    background: #E3EDF7;
}