body {
    background: #E3EDF7;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}

.input-wrapper {
    border: 1px solid black;
    width: 30%;
}

.cv-wrapper {
    border: 1px solid black;
    width: 40%;
}