.cv-header {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.cv-body {
    margin: 3em 1em;
    border: 1px solid black;
}

.cv-footer {
    margin: 0 1em;
    border: 1px solid black;
}