:root {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



input:focus {
    outline-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

.accordion {
    width: 200px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 1.25em;
    padding: .625em;
    border-radius: 8px;
    /* border: 1px solid black; */
    background: #E3EDF7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10 -1px rgba(255, 255, 255, 0.15);
}

.accordion > li > label:first-of-type {
    display: flex;
    align-items: center;
    padding: .625em;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
}

.accordion > li > label:first-of-type::before {
    content: '+';
    margin-right: .625em;
    font-size: 1.5rem;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
}

.accordion .content {
    color: #555;
    padding: 0 .625em;
    line-height: 1.625em; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked  + label + .content {
    max-height: 400px;
    padding: .625em .625em 1.25em;
}
.accordion input[type="radio"]:checked  + label::before {
    content: '-';
    margin-right: .625em;
    font-size: 1.5rem;
    font-weight: 600;
}