:root {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
}
.section-title {
    font-size: 1.5rem;
    padding: .5em;
    font-weight: bold;
}
.label-wrapper {
    width: 83%;
}

.label-text {
    font-weight: bold;
    font-size: 1.1rem;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

input {
    width: 80%;
    padding: .5em;
    margin: .8em 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
}

input:focus {
    outline-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    columns: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}